# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
.env

# Database
*.sqlite3
instance/cardiac_debug/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
