# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
.env

# Database
*.sqlite3
instance/cardiac_debug/
models/lumbar_spine_mrimperium_best.pth
models/obstetric_ultrasound_swin/model.safetensors
models/abdominal_aorta_ultrasound_best.pt
models/echoview47/TTE47_Classifier_Model.h5
models/echoview47/EchoView47.keras

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
